layout {
    default_tab_template {
        
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
            format_left   "{mode}#[bg=#060914] {tabs}"
                format_center ""
                format_right  "{swap_layout}#[bg=#060914,fg=#c6dfec] Zellij: #[bg=#060914,fg=#c6dfec]{session}"
                format_space  "#[bg=#060914]"
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=#9cb67d,fg=#060914,bold] NORMAL#[bg=#060914,fg=#9cb67d]"
                mode_locked        "#[bg=#6e738d,fg=#060914,bold] LOCKED #[bg=#060914,fg=#6e738d]"
                mode_resize        "#[bg=#788ad3,fg=#060914,bold] RESIZE#[bg=#060914,fg=#788ad3]"
                mode_pane          "#[bg=#a188c3,fg=#060914,bold] PANE#[bg=#060914,fg=#a188c3]"
                mode_tab           "#[bg=#85c7b8,fg=#060914,bold] TAB#[bg=#060914,fg=#85c7b8]"
                mode_scroll        "#[bg=#8aadf4,fg=#060914,bold] SCROLL#[bg=#060914,fg=#8aadf4]"
                mode_enter_search  "#[bg=#8aadf4,fg=#060914,bold] ENT-SEARCH#[bg=#060914,fg=#8aadf4]"
                mode_search        "#[bg=#8aadf4,fg=#060914,bold] SEARCHARCH#[bg=#060914,fg=#8aadf4]"
                mode_rename_tab    "#[bg=#8aadf4,fg=#060914,bold] RENAME-TAB#[bg=#060914,fg=#8aadf4]"
                mode_rename_pane   "#[bg=#8aadf4,fg=#060914,bold] RENAME-PANE#[bg=#060914,fg=#8aadf4]"
                mode_session       "#[bg=#f47171,fg=#060914,bold] SESSION#[bg=#060914,fg=#f47171]"
                mode_move          "#[bg=#8aadf4,fg=#060914,bold] MOVE#[bg=#060914,fg=#8aadf4]"
                mode_prompt        "#[bg=#8aadf4,fg=#060914,bold] PROMPT#[bg=#060914,fg=#8aadf4]"
                mode_tmux          "#[bg=#f5a97f,fg=#060914,bold] TMUX#[bg=#060914,fg=#f5a97f]"

                // formatting for inactive tabs
                tab_normal              "#[bg=#060914,fg=#8bd5ca]#[bg=#8bd5ca,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#8bd5ca,bold] {name}{floating_indicator}#[bg=#060914,fg=#363a4f,bold]"
                tab_normal_fullscreen   "#[bg=#060914,fg=#8bd5ca]#[bg=#8bd5ca,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#8bd5ca,bold] {name}{fullscreen_indicator}#[bg=#060914,fg=#363a4f,bold]"
                tab_normal_sync         "#[bg=#060914,fg=#8bd5ca]#[bg=#8bd5ca,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#8bd5ca,bold] {name}{sync_indicator}#[bg=#060914,fg=#363a4f,bold]"

                // formatting for the current active tab
                tab_active              "#[bg=#060914,fg=#eed49f]#[bg=#eed49f,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#eed49f,bold] {name}{floating_indicator}#[bg=#060914,fg=#363a4f,bold]"
                tab_active_fullscreen   "#[bg=#060914,fg=#eed49f]#[bg=#eed49f,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#eed49f,bold] {name}{fullscreen_indicator}#[bg=#060914,fg=#363a4f,bold]"
                tab_active_sync         "#[bg=#060914,fg=#eed49f]#[bg=#eed49f,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#eed49f,bold] {name}{sync_indicator}#[bg=#060914,fg=#363a4f,bold]"

                // separator between the tabs
                tab_separator           "#[bg=#060914] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "India/Mumbai"
            }
        }
        children
    }
}
