* {
    main-bg:            #060914e6;
    main-fg:            #bdbfcbff;
    main-br:            #968EBEcc;
    main-ex:            #80aa6ecc;
    select-bg:          #9cb67dff;
    select-fg:          #121520ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
